html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: env(safe-area-inset-top);
  background-image:
    radial-gradient(circle, var(--mantine-color-default-border) 1px, transparent 1px);
  background-size: 24px 24px;
  background-color: var(--mantine-color-body);
}
